<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Recomendaciones</title>
</head>
<body>
    <h1>Recomendaciones de Películas</h1>

    <ul>
        {% for recommendation in recommendations %}
            <li>{{ recommendation[0] }} - Rating: {{ recommendation[1] }}</li>
        {% endfor %}
    </ul>

    <p><a href="{{ url_for('index') }}">Volver a la página principal</a></p>
</body>
</html>
